.fade-in-section {
    opacity: 0;
    transform: translateY($translateY);
    transition: opacity 1s ease-out, transform 1s ease-out; 
    &.visible{
        opacity: 1;
        transform: translateY(0); 
    } 
    &-down {
        opacity: 0;
        transform: translateY(-$translateY);
        transition: opacity 1s ease-out, transform 1s ease-out; 
        &.visible {
            opacity: 1;
            transform: translateY(0); 
        }
    }
}

.fade-in-title{
    display: block;
    opacity: 0;
    transform: translateY($translateY);
    transition: opacity 1s ease-out, transform 1s ease-out;
    &.visible{
        opacity: 1;
        transform: translateY(0);
    }
}

.banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.logo  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
}

@keyframes floating{
    0% {
        transform:translate(0, 0);
      }
      20% {
        transform:translate(30px, -10px);
      }
      40% {
        transform:translate(20px, -30px);
      }
      60% {
        transform:translate(-20px, -20px);
      }
      80% {
        transform:translate(-30px, 10px);
      }
      100% {
        transform:translate(0, 0);
      }
    }
.floating{
    animation: floating 8s ease-in-out 0s infinite
}
    
.video-background {
    height: auto;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
        display: none;
      }
}

.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after {
    @include rotate_infinite (var(--rotateTime)) ;
}

#place {
    background-image: url(../assets/images/Studio_Koukaki-image_place.png) !important;
    & div {
        justify-content: end !important;
    }
}
.big_cloud{
    position: relative;
    left: 165%;
    bottom: 65%;
    filter: blur(11px);
}
.little_cloud {
    position: relative;
    bottom: 55%;
    left: 125%;
    filter: blur(6px);
}