.site-header {
    background-color: $primaryColor;
}

.fade-in-section {
    @include fade-in($translateY);
    &-down {
        @include fade-in(-$translateY);
    }
}
.fade-in-title {
    @include fade-in($translateY);
    display: block;
}
// Section hero header
.banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.logo  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
}
.floating{
    animation: floating 8s ease-in-out 0s infinite
}
.video-background {
    height: auto;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
        display: none;
      }
}
// Rotation fleurs
.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after {
    @include rotate_infinite (var(--rotateTime)) ;
}
@each $flower in $flowers {
    .#{$flower} {
        @include rotate_infinite(var(--rotateTime));
    }
}
// Section le lieu
#place {
    background-image: url(../assets/images/Studio_Koukaki-image_place.png) !important;
    & div {
        justify-content: end !important;
    }
}
.big_cloud {
    @include cloud(relative, 165%, 65%, $cloud-blur-big);
}
.little_cloud {
    @include cloud(relative, 125%, 55%, $cloud-blur-little);
}
// Section les personnages
#characters {
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    & div{
        flex: none !important;
    }
    & h3 {
        text-align: left;
        background-position: 1em;
    }
}  
.swiper{
    max-width: 85%;  
}