.site-header {
    background-color: $primaryColor;
}
.fade-in-section {
    @include fade-in($translateY);
    &-down {
        @include fade-in(-$translateY);
    }
}
.fade-in-title {
    display: block;
    @include fade-in($translateY);
}
// Section hero header
.banner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    @media (max-width: $littleTablette) {
        min-height: 300px;
      }
}
.logo  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    & img {
        @media (max-width: $littleTablette) {
            transform: none !important;
          }
    }
}
.floating{
    animation: floating 8s ease-in-out 0s infinite
}
.video-background {
    height: auto;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 1;
    min-height: 806px;
    @media (max-width: $littleTablette) {
        display: none;
    }
}
// Rotation fleurs
.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after {
    @include rotate_infinite (var(--rotateTime)) ;
}
@each $flower in $flowers {
    .#{$flower} {
        @include rotate_infinite(var(--rotateTime));
    }
}
// Section le lieu
#place {
    background-image: url(../assets/images/Studio_Koukaki-image_place.png) !important;
    position: relative;
    @media (max-width: $mobile) {
        background-image:url("../../foce/assets/images/place_bg.png") !important;
      }
    & > div {
        @media (max-width: $mobile) {
            margin-bottom: 0;
        }
        & h3 {
            @media (min-width: $littleTablette) and (max-width : $laptop) {
                margin-top: 100px;
            }
        }
    }
    & p {
        @media (max-width: $mobile) {
            padding: 0 !important;
        }
    }  
}
.big_cloud {
    @include cloud(absolute, 5%, 72%, $cloud-blur-big);
    @media (max-width: $littleTablette) {
        display: none;
      }
}
.little_cloud {
    @include cloud(absolute, 35%, 56%, $cloud-blur-little);
    @media (max-width : $littleTablette) {
        display: none;
    }

}
// Section les personnages
#characters {
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    & div{
        flex: none !important;
    }
    & h3 {
        text-align: left;
        background-position: 1em;
    }
}  
.swiper{
    max-width: 85%;  
}

// Media queries spécifiques
@media (max-width : $littleTablette) {
    *, *::before, *::after { 
        animation: none !important;
    }
    span {
        transition: none !important;
        opacity: 1 !important;
        transform: none !important;
    }
}

@media (max-width: $mobile) {
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .site-footer {
        padding-top: 0;
        & ul::after {
            content: "";
        }
    }
}