:root {
  --rotateTime: 20s;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(30px, -10px);
  }
  40% {
    transform: translate(20px, -30px);
  }
  60% {
    transform: translate(-20px, -20px);
  }
  80% {
    transform: translate(-30px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
#event {
  display: flex;
  overflow: hidden;
  position: relative;
  min-height: 500px;
}
@media (max-width: 576px) {
  #event {
    min-height: auto;
    padding-bottom: 50px;
  }
}
#event::before {
  content: url("../../foce/assets/images/Sunflower.png");
  position: absolute;
  left: 4.8em;
}
@media (max-width: 768px) {
  #event::before {
    left: 0;
  }
}
#event::after {
  content: url("../../foce/assets/images/orchid.png");
  position: absolute;
  right: -4em;
}

.oscars {
  display: flex;
  align-items: center;
  margin: auto;
}
@media (max-width: 768px) {
  .oscars {
    flex-direction: column;
  }
}
.oscars h3 {
  background-image: url("../assets/images/orange_oscars_bg.png");
  margin-top: 2em;
  padding: 2em;
  text-align: left;
}
@media (max-width: 992px) {
  .oscars h3 {
    font-size: 2rem;
  }
}
@media (max-width: 576px) {
  .oscars h3 {
    font-size: 1rem;
  }
}

#event::before,
#event::after {
  animation: rotating var(--rotateTime) linear infinite;
}
@media (max-width: 576px) {
  #event::before,
  #event::after {
    display: none;
  }
}

.site-footer::before,
.site-footer::after {
  display: none;
}

.site-header {
  background-color: #FFD5A2;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-section-down {
  opacity: 0;
  transform: translateY(-200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in-section-down.visible {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-title {
  display: block;
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in-title.visible {
  opacity: 1;
  transform: translateY(0);
}

.banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media (max-width: 768px) {
  .banner {
    min-height: 300px;
  }
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
}
@media (max-width: 768px) {
  .logo img {
    transform: none !important;
  }
}

.floating {
  animation: floating 8s ease-in-out 0s infinite;
}

.video-background {
  height: auto;
  object-fit: cover;
  display: block;
  position: relative;
  z-index: 1;
  min-height: 806px;
}
@media (max-width: 768px) {
  .video-background {
    display: none;
  }
}

.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after {
  animation: rotating var(--rotateTime) linear infinite;
}

.orchid {
  animation: rotating var(--rotateTime) linear infinite;
}

.sunflower {
  animation: rotating var(--rotateTime) linear infinite;
}

.randomFlower {
  animation: rotating var(--rotateTime) linear infinite;
}

.hibiscus {
  animation: rotating var(--rotateTime) linear infinite;
}

.flower {
  animation: rotating var(--rotateTime) linear infinite;
}

#place {
  background-image: url(../assets/images/Studio_Koukaki-image_place.png) !important;
  position: relative;
}
@media (max-width: 576px) {
  #place {
    background-image: url("../../foce/assets/images/place_bg.png") !important;
  }
}
@media (max-width: 576px) {
  #place > div {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  #place > div h3 {
    margin-top: 100px;
  }
}
@media (max-width: 576px) {
  #place p {
    padding: 0 !important;
  }
}

.big_cloud {
  position: absolute;
  right: 5%;
  bottom: 72%;
  filter: blur(11px);
}
@media (max-width: 768px) {
  .big_cloud {
    display: none;
  }
}

.little_cloud {
  position: absolute;
  right: 35%;
  bottom: 56%;
  filter: blur(6px);
}
@media (max-width: 768px) {
  .little_cloud {
    display: none;
  }
}

#characters {
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}
#characters div {
  flex: none !important;
}
#characters h3 {
  text-align: left;
  background-position: 1em;
}

.swiper {
  max-width: 85%;
}

@media (max-width: 768px) {
  *, *::before, *::after {
    animation: none !important;
  }
  span {
    transition: none !important;
    opacity: 1 !important;
    transform: none !important;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .site-footer {
    padding-top: 0;
  }
  .site-footer ul::after {
    content: "";
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0;
}

.site-title {
  text-align: center;
  width: 100%;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 21.5px;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}
.burger-menu div {
  width: 100%;
  height: 4px;
  background-color: black;
  transition: all 0.3s ease;
}

.dropdown-menu {
  position: fixed;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #FFF5E9;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: height 0.3s ease;
}
.dropdown-menu nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.dropdown-menu nav ul li {
  margin: 10px 0;
}
.dropdown-menu nav ul p {
  font-size: 1rem;
  padding-top: 7rem;
}
@media (max-width: 1200px) {
  .dropdown-menu nav ul p {
    padding: 0;
  }
}

.dropdown-menu nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 64px;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 992px) {
  .dropdown-menu nav ul li a {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .dropdown-menu nav ul li a {
    font-size: 40px;
  }
}
.dropdown-menu nav ul li a:hover {
  text-shadow: 0px 0px 14px #FF5C00;
}

.burger-active .line1 {
  transform: rotate(45deg) translate(10px, 5px);
}
.burger-active .line2 {
  opacity: 0;
}
.burger-active .line3 {
  transform: rotate(-45deg) translate(10px, -5px);
}

.menu-open {
  height: 100%;
  overflow: hidden;
}

.logo_menu {
  height: 100px;
}

@media (max-width: 768px) {
  .catsMenu {
    display: none;
  }
}
.catsMenu .Kawaneko {
  position: absolute;
  top: 15%;
  left: 13%;
}
.catsMenu .Jaakuna {
  position: absolute;
  top: 40%;
  right: 15%;
}
.catsMenu .Orenjiiro {
  position: absolute;
  bottom: 12%;
  left: 5%;
}

@media (max-width: 768px) {
  .flowersMenu {
    display: none;
  }
}
.flowersMenu .orchid {
  position: absolute;
  top: 7%;
  left: -2%;
  width: 10em;
}
@media (min-width: 768px) and (max-width: 992px) {
  .flowersMenu .orchid {
    width: 8em;
  }
}
.flowersMenu .sunflower {
  position: absolute;
  top: 8%;
  right: 16%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .flowersMenu .sunflower {
    position: absolute;
    top: 4%;
    right: 10%;
    width: 15%;
  }
}
.flowersMenu .randomFlower {
  position: absolute;
  right: 0%;
  top: 32%;
  width: 6em;
}
@media (min-width: 768px) and (max-width: 992px) {
  .flowersMenu .randomFlower {
    width: 3em;
  }
}
.flowersMenu .flower {
  position: absolute;
  left: 16%;
  bottom: 47%;
  width: 5em;
}
@media (min-width: 768px) and (max-width: 992px) {
  .flowersMenu .flower {
    width: 3em;
  }
}
.flowersMenu .hibiscus {
  position: absolute;
  right: -22%;
  bottom: -35%;
}
@media (min-width: 768px) and (max-width: 992px) {
  .flowersMenu .hibiscus {
    position: absolute;
    right: -22%;
    bottom: -16%;
    width: 50%;
  }
}

body.no-scroll {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
